{% extends "template.html" %}

{% block subtitle %}
Database
{% endblock %}

{% block script %}
<script type="text/javascript">

var viz;

function draw() {
    var config = {
        containerId: "viz",
        neo4j: {
            serverUrl: "bolt://localhost:7687",
            serverUser: "neo4j",
            serverPassword: "adminpass"
        },
        visConfig: {
            nodes: {
            },
            groups:{
                System: {color:{border:'#b67c5d', background:'#ccc98d', highlight: {border: "#b6925d", background:"#7bc482"}}, shape:"circle", font:{color: "black", size:8, strokeWidth: 0}, size:6},
                Planet: {color:{border:'#5d79b6', background:'#8d98cc', highlight: {border: "#5d6cb6", background:"#7b8cc4"}}, shape:"circle", font:{color: "black", size:8, strokeWidth: 0}, size:6},

            },
            interaction: {
                navigationButtons: true
            }
        },
        labels: {
            System: {
                label: "name",
                [NeoVis.NEOVIS_ADVANCED_CONFIG]: {
                    static: {
                    group: "System"
                    }
                }
            },
            Planet: {
                label: "name",
                [NeoVis.NEOVIS_ADVANCED_CONFIG]: {
                    static: {
                    group: "Planet"
                    }
                }
            },
        },
        relationships:{
            "HAS_PLANET": {
                [NeoVis.NEOVIS_ADVANCED_CONFIG]: {
                    static: {
                        label: "HAS_PLANET"
                    }
                }
            }
        },
        initialCypher: "MATCH (s:System)-[r:HAS_PLANET]->(p:Planet) RETURN *"

    };
    viz = new NeoVis.default(config);
    viz.render();
}
</script>
{% endblock %}

{% block main %}
<div class="container text-center">
    <div id="viz"></div>
</div>
{% endblock %}