{% extends "template.html" %}

{% block subtitle %}
Database
{% endblock %}

{% block script %}
<script type="text/javascript">

var viz;

function draw() {
    var config = {
        containerId: "viz",
        neo4j: {
            serverUrl: "bolt://localhost:7687",
            serverUser: "neo4j",
            serverPassword: "adminpass"
        },
        visConfig: {
            nodes: {
            },
            groups:{
                System: {color:{border:'#d6b54a', background:'#edc951', highlight: {border: "#bf950e", background:"#cea110"}}, shape:"circle", font:{color: "black", size:8, strokeWidth: 0}, size:6},
                Planet: {color:{border:'#999ba4', background:'#c0c2ce', highlight: {border: "#55565b", background:"#7f8087"}}, shape:"circle", font:{color: "black", size:8, strokeWidth: 0}, size:6},
            },
            interaction: {
                navigationButtons: true
            }
        },
        labels: {
            System: {
                label: "name",
                [NeoVis.NEOVIS_ADVANCED_CONFIG]: {
                    static: {
                    group: "System"
                    }
                }
            },
            Planet: {
                label: "name",
                [NeoVis.NEOVIS_ADVANCED_CONFIG]: {
                    static: {
                    group: "Planet"
                    }
                }
            },
        },
        relationships:{
            "HAS_PLANET": {
                [NeoVis.NEOVIS_ADVANCED_CONFIG]: {
                    static: {
                        label: "HAS_PLANET"
                    }
                }
            }
        },
        initialCypher: "MATCH (s:System)-[r:HAS_PLANET]->(p:Planet) RETURN *"

    };
    viz = new NeoVis.default(config);
    viz.render();
}
</script>
{% endblock %}

{% block main %}
<div class="container text-center">
    <h2>Database</h2>
</div>
<div class="d-flex align-items-center justify-content-center">
    <div id="viz"></div>
</div>
{% endblock %}