{% extends "template.html" %}

{% block subtitle %}
Log in
{% endblock %}
{% block main %}
<div class="container">
    <div class=" row justify-content-center">
        <div class="col-sm-6 mt-4">
            <h2>Log in</h2>
            <form action="/login" method="POST">
                <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" class="form-control" id="username" placeholder="Enter username" name="username" required>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password" placeholder="Enter password" name="password" required>
                </div>
                <button type="submit" class="btn btn-dark">Submit</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}