{% extends "template.html" %}

{% block subtitle %}
Register
{% endblock %}
{% block main %}
<div class="container">
    <div class=" row justify-content-center">
        <div class="col-sm-6 mt-4">
            <h2>Register</h2>
            <form action="/register" method="POST">
                <div class="mb-3">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" id="username" placeholder="Enter username" name="username" required>
                </div>
                <div class="mb-3">
                    <label for="pwd">Password</label>
                    <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="password" aria-describedby="passwordHelp"required>
                    <div id="passwordHelp" class="form-text">Your password will be stored encrypted.</div>
                </div>
                <div class="mb-3">
                    <label for="name">First name</label>
                    <input type="text" class="form-control" id="name" placeholder="Enter first name" name="first_name" required>
                </div>
                <div class="mb-3">
                    <label for="name">Last name</label>
                    <input type="text" class="form-control" id="name" placeholder="Enter last name" name="last_name" required>
                </div>
                <div class="mb-3">
                    <label for="adress">Address</label>
                    <input type="text" class="form-control" id="address" placeholder="Enter address" name="address" required>
                </div>
                <div class="mb-3">
                    <label for="age">Date of birth</label>
                    <input type="date" class="form-control" id="age" name="dob" required>
                </div>
                <div class="mb-3">
                    <label for="email">E-mail</label>
                    <input type="email" class="form-control" id="email" placeholder="Enter e-mail" name="email" aria-describedby="emailHelp"required>
                    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                </div>
                <button type="submit" class="btn btn-dark">Submit</button>
                {% if error %}
                <div class="alert alert-danger mt-3" role="alert">
                    {{ error }}
                </div>
                {% endif %}
            </form>
        </div>
    </div>
</div>
{% endblock %}